* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .img-bg {
  position: relative;
  border: rgba(26, 26, 26, 0);
  width: 50%;
  height: 100%;
}

section .img-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

section .content .nav-text {
  text-align: center;
}

section .content .nav-text a {
  text-decoration: none;
  color: #607db8;
  transition: 0.2s;
}

section .content .nav-text a:hover {
  color: #ff9c30;
}

.input-form {
  margin-bottom: 20px;
}

.input-form input[type="submit"] {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 20px;
  outline: none;
  border: 3px solid #607d8b;
  font-size: 16px;
  letter-spacing: 2px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
  transition: 0.5s;
}

.input-form input:hover {
  background: #607db8;
  border: 3px solid #607db8;
  padding: 15px 25px;

  color: #f8f8f8;
  border-radius: 10px;

}
.input-form input:disabled {
  background: #d7d7d7;
  border: 3px solid #d7d7d7;
  color: #9d9d9d;
  transition: 0.3s;
}

.input-form input:disabled :hover{
  background: #d7d7d7;
  border: 3px solid #d7d7d7;
  color: #9d9d9d;
}


@media (max-width: 768px) {
  section .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
