.dialog-container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    border-radius: 15px;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    margin: -5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    transition: 0.3s;
}
.dialog-container h1 {
    flex-grow: 2;
    color: #e75d5d;
    padding: 30px 20px 50px 40px;
}
.dialog-container h3 {
    size: 1.5em;
    flex-grow: 6;
    text-align: center;
}

.btn-container {
    flex-grow: 2;
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.btnOk {
    font-size: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #75d275;
    color: #75d275;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px;
    transition: 0.3s;
}

.btnOk:hover {
    background-color: #75d275;
    color: #ffffff;
}

.btnCancel {
    font-size: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #e75d5d;
    color: #e75d5d;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px;
    transition: 0.3s;
}

.btnCancel:hover {
    background-color: #e75d5d;
    color: #ffffff;
}
