* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.form {
    margin-top: 4%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.form:after {
    opacity: 0;
}

.form h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

.form .input-form {
    margin-bottom: 20px;
}

.form .input-form span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
}

.form .input-form input:focus {
    border-radius: 10px;
    border: 3px solid #5788f3;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .img-bg {
    position: relative;
    border: rgba(26, 26, 26, 0);
    width: 50%;
    height: 100%;
}

section .img-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content .nav-text {
    text-align: center;
}

section .content .nav-text a {
    text-decoration: none;
    color: #607db8;
    transition: 0.2s;
}

section .content .nav-text a:hover {
    color: #ff9c30;
}

.input-form {
    margin-bottom: 20px;
}
.form .input-form input[type="submit"] {
    margin-top: 4%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    outline: none;
    border: 3px solid #607d8b;
    font-size: 16px;
    letter-spacing: 2px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    transition: 0.5s;
}

.form .input-form input[type="submit"]:hover {
    background: #607db8;
    border: 3px solid #607db8;
    color: #ffffff;
}

.form .input-form input[type="submit"]:disabled {
    background: #d7d7d7;
    border: 3px solid #d7d7d7;
    color: #9d9d9d;
    transition: 0.3s;
}

.form .input-form input[type="submit"]:disabled :hover {
    background: #d7d7d7;
    border: 3px solid #d7d7d7;
    color: #9d9d9d;
}

.form .input-form p {
    color: #607d8b;
}

.form .input-form p a {
    color: #17c2d9;
}

.form h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

@media (max-width: 768px) { {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
    section .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .form {
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }

    .form h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}
