.body {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.card-container {
    margin: 20px;
    padding: 0;
}

.card-container h2 {
    font-weight: bold;

}

.body .ant-card-bordered {
    border: 0;
    border-radius: 15PX;
}

.card-container .ant-card-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;
    background: #58b893;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info__avatar-container {
    text-align: center;
    min-width: 200px;

}

.user-info__avatar-container h2 {
    padding-top: 15px;
    padding-bottom: 20px;
    color: white;

    border-bottom: 1px solid #eeeeee;
}

.user-info__balance h2 {
    color: white;
}

.form-container .ant-form-horizontal {
    padding: 30px;
}

.form-container .ant-input,
.form-container .ant-input-number {
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;
}

.form-container .ant-btn-primary {
    display: inline-flex;
    align-items: center;

    background: #58b893;

    border: 1px solid #58b893;
    border-radius: 10px;
    padding: 20px 30px;
}

.form-container .ant-btn-primary:hover {
    border: 1px solid #58b893;
    background: white;
    color: #58b893;
}

.form-container .ant-radio-button-wrapper > .ant-radio-button,
.form-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #58b893;
    border: 1px solid #58b893;
    color: white;
}


.form-container .ant-radio-button-wrapper:hover {
    color: #939393;
}

.form-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.form-container .ant-radio-button-wrapper-checked:hover {
    color: white;
}

@media only screen and (max-width: 1200px) {

    .body .menu {
        display: none;
    }
}

.plan-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.plan-list .ant-radio-button-wrapper {
    height: auto;
}

.plan-list .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.plan-list .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.plan-list .ant-radio-button-wrapper > .ant-radio-button, .form-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border: none;
    background: #58b893;
    border-radius: 10px;
}

.plan-list .ant-radio-button-wrapper:not(:first-child):before {
    position: relative;
    border: none;
}

.plan-list .ant-radio-button-wrapper,
.plan-list .ant-radio-button-wrapper:first-child:last-child,
.plan-list .ant-radio-button-wrapper:first-child,
.plan-list .ant-radio-button-wrapper:last-child{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
    border: none;
    margin: 15px;
    border-radius: 10px;
}