* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

body .ant-card {
  border-radius: 20px;
}

body .ant-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px 20px;
}

body .ant-modal-confirm-btns {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

body .ant-input , body .ant-input-affix-wrapper, body .ant-input-number{
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
}

body .ant-modal-content {
  border-radius: 15px;
}

body .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #1890ff;
  color: white;

}


body .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background: #4795dc;
  color: white;
}