* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
