.base-about-us {
    margin-top: 8%;
}

.contributors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 30px;
    width: 95%;

    background: white;
    border-radius: 20px;
}

.contributors-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contributor {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contributor p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 12px;
}